:root {
  --background-color: #fbf8ef;
  --accent-color: #16c47f;
}

.container {
  height: 100%;
  background-color: var(--background-color);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.content {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  gap: 10px;
}

.image {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}

.horizontal-list {
  width: 100%;
  height: 100vh;
  padding: 10px;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #ffffff;
  border: 3px solid #333333;
  border-radius: 15px;
  gap: 10px;
  width: 180px;
}

.card_title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.button {
  background-color: var(--accent-color);
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

.button_text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}